---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <main>
        <div>
            <a href="/website/"> ↩ back</a>
        </div>
        <h2>Contact</h2>
        <p>
            I am currently available for hire or freelance projects.<br /> Email
            me at <a href="mailto:ravi.prp1997@gmail.com"
                >ravi.prp1997@gmail.com</a
            >
            if you want to chat😄.
            <br />
        </p>
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        font-family: "CustomFont", monospace;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        max-width: 600px;
        font-size: 0.9rem;
    }
    a {
        color: white;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
    }

    @font-face {
        font-family: "CustomFont"; /* Name your font family */
        src: url("/website/ttf/Writer-Regular.ttf"); /* Locate the .ttf file within your directory*/
    }
</style>
