---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/header.astro";
import Nav from "../components/nav.astro";
---

<Layout title="Ravi Patel">
	<main>
		<Header />
		<h1 class="text-gradient">Ravi Patel</h1>
		<p>
			I love to code and learn new things, especially things related to
			computers in general.
		</p>
		<img
			src="/website/github.png"
			alt="My Github profile"
			class="icon"
			onclick="window.open('https://github.com/patelravip1', target='_blank')"
		/>
		<img
			src="/website/linkedin.png"
			alt="My LinkedIn profile"
			class="icon"
			onclick="window.open('https://www.linkedin.com/in/ravi-047/', '_blank')"
		/>
		<img
			src="/website/instagram.png"
			alt="My Instagram profile"
			class="icon"
			onclick="window.open('https://www.instagram.com/rv.047/', '_blank')"
		/>
		<br />
		<a href="/website/about/">About</a> |
		<a href="/website/tools/">Tools</a> |
		<a href="/website/contact/">Contact</a>
	</main>
</Layout>

<style>
	html {
		background-color: #0e1116;
	}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		font-family: monospace;
		/* font-family: Inter; */
		position: bottom;
		bottom: 2rem;
		/* text-align: bottom; */
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.icon {
		cursor: pointer;
		height: 2rem;
		border-radius: 50%;
		/* opacity: 0.6; */
		transition: filter 0.5s ease;

		box-shadow:
			0 -10px 10px rgba(255, 255, 255, 0.05),
			inset 0 -10px 10px rgba(255, 255, 255, 0.05),
			0 10px 10px rgba(0, 0, 0, 0.3),
			inset 0 10px 10px rgba(0, 0, 0, 0.3);
		transition: all ease 0.2s;
	}
	.icon:hover {
		filter: opacity(0.6);
	}
	a {
		color: white;
		text-decoration: none;
	}
	p {
		padding-bottom: 1rem;
		display: block;
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		unicode-bidi: isolate;
		max-width: 600px;
		font-size: 0.9rem;
	}
	h1 {
		font-size: 2rem;
		font-weight: 500;
		line-height: 1;
		text-align: left;
		margin-bottom: 0.5em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
