---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Tools">
    <main>
        <div>
            <a href="/website/"> ↩ back</a>
        </div>
        <h2>Programing</h2>
        <ul>
            <li>
                <a href="https://git-scm.com/" target="_blank">Git↗</a>
            </li>
            <li>
                <a href="https://github.com/patelravip1" target="_blank"
                    >Github↗</a
                >
            </li>
            <li>
                <a href="https://alacritty.org/" target="_blank"
                    >Alacritty(Terminal)↗</a
                >
            </li>
            <li>ZSH(Shell)</li>
            <li>
                <a href="https://code.visualstudio.com/download" target="_blank"
                    >VS Code↗</a
                >
            </li>
            <li>Fonts</li>
            <ul>
                <li>Consolas</li>
                <li>monospace</li>
                <li>
                    <a
                        href="https://fonts.google.com/specimen/Fira+Code"
                        target="_blank">Fira code↗</a
                    >
                </li>
                <li>
                    <a href="https://www.jetbrains.com/lp/mono/" target="_blank"
                        >JetBrains Mono↗ (VS Code) (Terminal)</a
                    >
                </li>
                <li>
                    <a
                        href="https://github.com/tonsky/font-writer"
                        target="_blank"
                    >
                        Writer↗
                    </a>
                </li>
            </ul>
        </ul>
        <h2>VSCode Extensions</h2>
        <ul>
            <li>
                <a
                    href="https://marketplace.visualstudio.com/items?itemName=supermaven.supermaven"
                    target="_blank"
                >
                    Supermaven↗
                </a>
            </li>
            <li>
                <a
                    href="https://marketplace.visualstudio.com/items?itemName=Equinusocio.vsc-material-theme-icons"
                    target="_blank"
                >
                    Material Theme Icons↗
                </a>
            </li>
        </ul>
        <h2>OS</h2>
        <ul>
            <li>Arch Linux (Hyprland)</li>
            <li>PixelOS (Android 15)</li>
            <li>Ubuntu server (Homelab)</li>
        </ul>
        <h2>Browsers</h2>
        <ul>
            <li>
                <a href="https://github.com/zen-browser/desktop" target="_blank"
                    >Zen↗</a
                >
            </li>
            <li>
                <a href="https://arc.net/" target="_blank">Arc↗</a>
            </li>
            <li>
                <a href="https://brave.com/download/" target="_blank">Brave↗</a
                >
            </li>
            <li>Edge</li>
        </ul>
        <h2>Softwares</h2>
        <ul>
            <li>
                <a href="https://www.revouninstaller.com/" target="_blank"
                    >Revo Uninstaller↗</a
                >
            </li>
            <li>
                <a href="https://github.com/seerge/g-helper" target="_blank"
                    >G-Helper↗</a
                >
            </li>
            <li>
                <a
                    href="https://www.bittorrent.com/downloads/complete/classic/"
                    target="_blank">BitTorrent↓</a
                >
            </li>
            <li>
                <a href="https://ds4-windows.com/" target="_blank"
                    >DS4Windows↗</a
                >
            </li>
            <li>
                <a href="https://www.videolan.org/vlc/" target="_blank">VLC↗</a
                >
            </li>
        </ul>
        <h2>Wesites</h2>
        <h4>Movies and Games</h4>
        <ul>
            <li>
                <a href="https://1337x.to/home/" target="_blank">1337x.to↗</a>
            </li><li>
                <a href="https://fitgirl-repacks.site/" target="_blank"
                    >Fit Girl Repacks↗</a
                >
            </li>
        </ul>
        <h4>Other</h4>
        <ul>
            <li>
                <a href="https://libgen.is/" target="_blank">Books↗</a>
            </li>
            <li>
                <a href="https://news.ycombinator.com/" target="_blank"
                    >Hacker News↗</a
                >
            </li>
            <li>
                <a href="https://bypasspaywallreader.com/" target="_blank"
                    >Bypass paywalls in articles↗</a
                >
            </li>
        </ul>

        <h2>Github repositories</h2>
        <ul>
            <li>
                <a
                    href="https://github.com/ThioJoe/Windows-Super-God-Mode"
                    target="_blank">Windows Super God Mode↗</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/ChrisTitusTech/winutil"
                    target="_blank">Windows Utility: Winutil↗</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/ChrisTitusTech/linutil"
                    target="_blank"
                    >Linux Utility: Linutil↗<br />curl -fsSL
                    https://christitus.com/linux | sh
                </a>
            </li>
            <li>
                <a href="https://github.com/Genymobile/scrcpy" target="_blank"
                    >Phone screen mirroring with scrcpy↗</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/DroidWorksStudio/mLauncher"
                    target="_blank">Minimal Android launcher: mLauncher↗</a
                >
            </li>
        </ul>

        <h2>Homelab</h2>
        <ul>
            <li>rsync</li>
            <li>Docker</li>
            <li>Nginx Proxy Manager</li>
            <li>Jellyfin</li>
            <li>zsh</li>
            <li>Termux (Android)</li>
        </ul>
    </main>

    <style>
        html {
            background-color: #0e1116;
        }
        main {
            margin: auto;
            padding: 1rem;
            width: 800px;
            max-width: calc(100% - 2rem);
            color: white;
            font-size: 20px;
            line-height: 1.6;
            font-family: monospace;
        }
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
            max-width: 600px;
            font-size: 0.9rem;
        }
        h2 {
            margin-bottom: 0em;
        }
        h4 {
            margin-top: 0em;
            margin-bottom: 0em;
        }
        ul {
            margin-top: 0em;
        }

        a {
            color: white;
            text-decoration: none;
        }
        @font-face {
            font-family: "CustomFont"; /* Name your font family */
            src: url("/website/ttf/Writer-Regular.ttf"); /* Locate the .ttf file within your directory*/
        }
    </style>
</Layout>
