---
import Layout from "../layouts/Layout.astro";
---

<Layout title="My Tools">
    <main>
        <div>
            <a href="/website/"> ↩ back</a>
        </div>
        <h2>Programing</h2>
        <ul>
            <li>
                <a href="https://code.visualstudio.com/download" target="_blank"
                    >VS Code↗</a
                >
            </li>
            <li>Git</li>
            <li>
                <a href="https://github.com/patelravip1" target="_blank"
                    >Github↗</a
                >
            </li>
        </ul>
        <h2>OS</h2>
        <ul>
            <li>Windows</li>
        </ul>
        <h2>Browsers</h2>
        <ul>
            <li>
                <a href="https://brave.com/download/" target="_blank">Brave↗</a
                >
            </li>
            <li>Edge</li>
        </ul>
        <h2>Wesites</h2>
        <h4>Movies and Games</h4>
        <ul>
            <li>
                <a href="https://1337x.to/home/" target="_blank">1337x.to↗</a>
            </li><li>
                <a href="https://fitgirl-repacks.site/" target="_blank"
                    >Fit Girl Repacks↗</a
                >
            </li><li>
                <a
                    href="https://www.bittorrent.com/downloads/complete/classic/"
                    target="_blank">BitTorrent↓</a
                >
            </li>
        </ul>
        <h2>Github repositories</h2>
        <ul></ul>
    </main>
</Layout>
<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
        font-family: monospace;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        max-width: 600px;
        font-size: 0.9rem;
    }
    h2 {
        margin-bottom: 0em;
    }
    h4 {
        margin-top: 0em;
        margin-bottom: 0em;
    }
    ul {
        margin-top: 0em;
    }

    a {
        color: white;
        text-decoration: none;
    }
</style>
