---

---

<header>
    <div class="header">
        <ul>
            <!-- <img
                src="./ravi.png"
                alt="LOGO"
                class="icon"
                onclick="location.href='/'"
            /> -->
        </ul>
    </div>

    <style>
        .icon {
            cursor: pointer;
            height: 6rem;
        }
        ul {
            /* height: 14rem; */
            display: flex;
        }
    </style>
</header>
